<!--  https://www.youtube.com/watch?v=5tm_rR-zBec  star -->
<!--  https://github.com/Bigless27/star-rating-angular/tree/master/src/app/star-->
<p class="v-title">Votting Seite. Sie können eine Challenge voten, wenn Sie ein Initiator sind order Sie zu Jury
  gehören</p>
<div class="v-vote">
  <h3>Votting an Challenge</h3>

  <p class="v-title">Alle Teinahmen von alle Users als Die Lösungen</p>
  <ng-container *ngFor="let c of contributions">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-left v-item">
      <div class="v-item-inner">
        <div class="c-title">
          Name von Lösung : {{ c.title}}
        </div>
        <div class="c-description">
          Beschreibung für diese Lösung : {{ c.description}}
        </div>
        <div class="c-image">
          angehängte Datei: <a href="{{ c.image}}" target="_blank">Sehen Datei (PDF or Image)</a>
        </div>
        <!--        <div class="c-createdBy">-->
        <!--          createdBy: {{ c.createdBy.username}}-->
        <!--        </div>-->
        <div class="c-createdAt">
          createdAt: {{ c.createdAt}}
        </div>
        <div class="v-infor">
          <form [formGroup]="form" (ngSubmit)="onVotedForm(form.value, c.id)" #myform="ngForm">
            <div class="form-group col-md-6">
              <label>Wählen Sie die Punkte für diese Challenge:</label>
              <select formControlName="vote" class="form-control">
                <option disabled>Wählen VotedPoint</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              <div *ngIf="form.get('vote').hasError('required') && myform.submitted" class='alert alert-danger'>Votting
                is required
              </div>
            </div>

            <p><b>Titel für die Votting</b></p>
            <input type="text" name="title" placeholder="Was ist die wichtigste Information?"
                   formControlName="title"
                   class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            <div *ngIf="form.get('title').hasError('required') && myform.submitted" class='alert alert-danger'>Title is
              required
            </div>
            <hr>

            <p><b>Schreiben Sie Ihre Rezension</b></p>
            <textarea type="text" formControlName="description"
                      name="description"
                      placeholder="Was hat Ihnen gefallen oder missfallen? Wozu haben Sie dieses Produkt verwendet? "
                      class="col-xs-12 col-sm-12 col-md-10 col-lg-10"></textarea>
            <div *ngIf="form.get('description').hasError('required') && myform.submitted" class='alert alert-danger'>
              Beschreibung is required
            </div>
            <div class="clearfix"></div>
            <button type="submit" class="absenden btn-warning">Absenden</button>
          </form>
        </div>
      </div>
    </div>

  </ng-container>
  <div class="clearfix"></div>
</div>
