.star-rating-filled {
  fill: gold;
}

.star-rating-blank {
  fill: #696262;
}

.rate {
  color: yellow;
}

.v-title {
  background: #89efa8;
}

.v-item {
  padding: 20px 10px;
  margin-top: 10px;

  .v-item-inner {
    border: 1px solid #FFC312;
    padding: 5px;
  }

}
