.v-item {
  .v-item-inner {
    border: 1px solid #FFC312;
    padding: 10px 10px;
    background: aquamarine;
    margin-bottom: 10px;
  }

  .pramie-vergeben {
    margin-top: 10px;
  }
}


.r-title {
  background: #89efa8;
}
