<div class="r-container">
  <p class="r-title">Prämie vergeben detail</p>
  <br>
  <div class="d-details col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ng-container *ngFor="let c of data">
      <div class="d-image text-center">
        <img class="img" src="{{c.image}}" alt="{{ c.title }}">
      </div>
      <p>Title: {{ c.title }}</p>
      <p>Beschreibung: {{ c.description }}</p>

      <ng-container *ngFor="let cate of c.category">
        <span>Category: {{ cate.title}}</span>
      </ng-container>
      <br>
      <ng-container *ngFor="let g of c.category">
        <span>Group: {{ g.title}}</span>
      </ng-container>

      <p>Initiator für Challenge: {{ c.initiator }}</p>
      <p>Premium: {{ c.premium }}</p>
      <p>Time end: {{ c.timeEnd }}</p>
      <p>Created at: {{ c.createdAt }}</p>
    </ng-container>
  </div>
  <hr>

  <h3 class="r-title">Alle Voting von dieser Challenge:</h3>
  <ng-container *ngIf="votings">
    <ng-container *ngFor="let vot of votings">
      <ng-container *ngFor="let v of vot">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-left v-item">
          <div class="v-item-inner">
            <form
              (ngSubmit)="add_award( v.challengeID.id, v.contributionID.id, v.id, form.value, v.contributionID.createdBy.id )"
              [formGroup]="form" #myform="ngForm">
              <div class="v-title">
                Name von Voting : {{ v.title}}
              </div>

              <div class="v-description">
                Beschreibung für diese Voting : {{ v.description}}
              </div>
              <div>
                <i>Title der Lösung ist: {{ v.contributionID.title}}</i>
              </div>
              <div>
                <i>Beschreibung der Lösung ist: {{ v.contributionID.description}}</i>
              </div>
              <div class="v-votedpont">
                VotedPoint: <b>{{ v.votedPoint}}</b>
              </div>
              <div class="v-createdBy">
                createdBy: {{ v.createdBy.username}}
              </div>

              <label><b>Bitte Prämie wählen</b></label>
              <select formControlName="pramie" class="form-control col-lg-3">
                <option disabled>Wählen Prämie</option>
                <option value="GOLD">Gold</option>
                <option value="SILBER">Silver</option>
                <option value="BRONZ">Bronze</option>
              </select>
              <div *ngIf="form.get('pramie').hasError('required') && myform.submitted" class='alert alert-danger'>pramie
                is required to
              </div>

              <button type="submit" class="btn btn-warning pramie-vergeben">Prämie vergeben</button>
            </form>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="votings == 0">
    <p> Es gibt keine Votings</p>
  </ng-container>

  <hr>
  <div class="clearfix"></div>
  <br>
  <!--  <h3 style="background-color: #ffd953; clear: both">Alle Teinahmen von alle Users</h3>
    <ng-container *ngFor="let c of contributions">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-left v-item">
        <div class="c-title">
         <b> Name von Lösung : {{ c.title}}</b>
        </div>
        <div class="c-description">
          Beschreibung für diese Lösung : {{ c.description}}
        </div>
        <div class="c-image">
          angehängte Datei: <a href="{{ c.image}}" target="_blank">Sehen Datei (PDF or Image)</a>
        </div>
        <div class="c-createdBy">
          createdBy: {{ c.createdBy.username}}
        </div>
        <div class="c-createdAt">
          createdAt: {{ c.createdAt}}
        </div>
      </div>
    </ng-container>
    <div class="clearfix"></div>-->
</div>
