<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear" hidden>
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>

<circle-progress *ngIf="showSpinner"
                 [percent]="100"
                 [radius]="30"
                 [outerStrokeWidth]="4"
                 [innerStrokeWidth]="1"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="2000"
                 [responsive]="true"
                 [clockwise]=true
                 [backgroundColor]="'#c00c0c'"
                 [class]="'cricle-vantinh'"
></circle-progress>

<div class="questions">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">

      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel><i class="fa fa-info-circle text-primary" aria-hidden="true"></i> Bitte füllen Sie
          Teil A
        </ng-template>

        <ng-container *ngFor="let item of convertToArray; let i = index;">

          <ng-container *ngIf="i < 6">
            <ng-container *ngIf="i == 0">
               <mat-label><b>Title</b></mat-label>
               <p> {{ item.title}}</p>
            </ng-container>

            <ng-container *ngIf="i == 1">
                <mat-label><b>Beschreibung</b></mat-label>
                <p> {{ item.description}}</p>
            </ng-container>

            <ng-container *ngIf="item.input == 'text' ">
              <mat-form-field class="col-12 col-xl-12 col-md-12 col-sm-1 float-left">
                <mat-label><b>Nummer {{ i + 1 }} :  {{ item.value }}</b></mat-label>
                <br>
                <input matInput formControlName="{{ i + 1}}" placeholder="Z.b. abc" value="" required
                       [autocomplete]="false"
                       (change)="summaryResult($event,  i + 1,  item.value, 'text', 1)"
                >
              </mat-form-field>
            </ng-container>

            <ng-container *ngIf="item.input == 'textarea' ">
              <mat-form-field class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
                <mat-label><b>Nummer {{ i + 1 }} :  {{ item.value }}</b></mat-label>
                <br>
                <textarea matInput formControlName="{{ i  + 1 }}" placeholder="Z.b. abc" required (change)="summaryResult($event,  i +1,  item.value, 'textarea', 1)">
                      </textarea>
              </mat-form-field>
            </ng-container>

            <ng-container *ngIf="item.input == 'checkbox' ">
              <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
                <mat-label><b>Nummer {{ i + 1 }} :  {{ item.question }}</b></mat-label>
                <br>
                <ng-container *ngFor="let row of item.value; let j = index">
                  <input type="checkbox" value="{{ row.option }}"
                         (change)="summaryResult($event,  i +1,  item.question, 'checkbox', j + 1)"
                         [name]="i +1"
                         formControlName="{{ i + 1 }}">
                  {{ row.option }}
                  <br>
                </ng-container>
                <br>
              </div>
            </ng-container>

            <ng-container *ngIf="item.input == 'select' ">
              <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
                <mat-label><b>Nummer {{ i + 1 }} :  {{ item.question }}</b></mat-label>
                <br>
                <select formControlName="{{ i +1 }}" class="form-control"
                        (change)="summaryResult($event,  i + 1,  item.question, 'select', $event)"
                >
                  <option value="">...</option>
                  <ng-container *ngFor="let row of item.value; let j = index">
                    <option value="{{ row.selectoption }}"> {{ row.selectoption }}</option>
                  </ng-container>
                </select>
              </div>
            </ng-container>

            <ng-container *ngIf="item.input == 'video' ">
              <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
                <mat-label><b>Nummer {{ i +1 }} : Videos</b></mat-label>
                <br>
                <ng-container *ngFor="let url of item.value">
                  <video height="150" width="200px" autoplay controls class="col-6 col-xl-6 col-md-6 col-sm-1">
                    <source [src]="url" type="video/mp4">
                    <source [src]="url" type="video/ogg">
                    Sorry, your browser doesn't support embedded videos.
                  </video>
                </ng-container>
              </div>
            </ng-container>

            <ng-container *ngIf="item.input == 'image' ">
              <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
                <mat-label><b>Nummer {{ i +1 }} : Bilders</b></mat-label>
                <br><br>
                <ng-container *ngFor="let url of item.value">
                  <img [src]="url" height="150" width="200px" class="col-3col-xl-3 col-md-3 col-sm-1"
                       alt="">
                </ng-container>
              </div>
            </ng-container>

          </ng-container>

        </ng-container>

        <div class="clearfix">

        </div>
        <div>
          <button mat-button matStepperNext class="col-3 col-xl-3 col-md-3 col-sm-1 btn-primary p-2">Nächste <i
            class="fa fa-arrow-circle-right"
            aria-hidden="true"></i></button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel><i class="fas fa-question-circle text-primary"></i> Bitte Füllen Sie Teil B
      </ng-template>
      <form [formGroup]="secondFormGroup">

        <!-- Left side -->
        <ng-container *ngFor="let element of convertToArray; let i = index">

          <!--no print title and description-->
            <ng-container *ngIf="i > 5">

              <ng-container *ngIf="element.input == 'text' ">
                <mat-form-field class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
                  <mat-label><b>Nummer {{ i +1 }} :  {{ element.value }}</b></mat-label>
                  <br>
                  <input matInput formControlName="{{ i +1}}" placeholder="Z.b. abc" value="" required
                         [autocomplete]="false" (change)="summaryResult($event,  i +1,  element.value, 'text', 1)">
                </mat-form-field>
              </ng-container>

              <ng-container *ngIf="element.input == 'textarea' ">
                <mat-form-field class="col-12 col-xl-12 col-md-1 col-sm-1 float-left ">
                  <mat-label><b>Nummer {{ i +1 }} :  {{ element.value }}</b></mat-label>
                  <br>
                  <textarea matInput formControlName="{{ i +1 }}" placeholder="Z.b. abc" required (change)="summaryResult($event,  i +1,  element.value, 'textarea', 1)">
                      </textarea>
                </mat-form-field>
              </ng-container>

              <ng-container *ngIf="element.input == 'checkbox' ">
                <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
                  <mat-label><b>Nummer {{ i +1 }} :  {{ element.question }}</b></mat-label>
                  <br>

                  <ng-container *ngFor="let row of element.value; let j = index">
                    <input type="checkbox" value="{{ row.option }}"
                           (change)="summaryResult($event,  i +1,  element.question, 'checkbox', j + 1)"
                           [name]="i +1"
                           formControlName="{{ i +1 }}">
                    {{ row.option }}
                    <br>
                  </ng-container>
                  <br>
                </div>
              </ng-container>

              <ng-container *ngIf="element.input == 'select' ">
                <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
                  <mat-label><b>Nummer {{ i +1 }} :  {{ element.question }}</b></mat-label>
                  <br>
                  <select formControlName="{{ i +1 }}" class="form-control"
                          (change)="summaryResult($event,  i +1,  element.question, 'select', $event)">
                    <option value="">...</option>
                    <ng-container *ngFor="let row of element.value; let j = index">
                      <option value="{{ row.selectoption }}"> {{ row.selectoption }}</option>
                    </ng-container>
                  </select>
                </div>
              </ng-container>

              <ng-container *ngIf="element.input == 'video' ">
                <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
                  <mat-label><b>Info {{ i +1 }} : Videos</b></mat-label>
                  <br>
                  <ng-container *ngFor="let url of element.value">
                    <video height="150" width="200px" autoplay controls class="col-3 col-xl-3 col-md-3 col-sm-1">
                      <source [src]="url" type="video/mp4">
                      <source [src]="url" type="video/ogg">
                      Sorry, your browser doesn't support embedded videos.
                    </video>
                  </ng-container>
                </div>
              </ng-container>

              <ng-container *ngIf="element.input == 'image' ">
                <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
                  <mat-label><b>Info {{ i +1 }} : Bilders</b></mat-label>
                  <br><br>
                  <ng-container *ngFor="let url of element.value">
                    <img [src]="url" height="150" width="200px" class="col-3col-xl-3 col-md-3 col-sm-1">
                  </ng-container>
                </div>
              </ng-container>

          </ng-container>

        </ng-container>

        <div class="clearfix"></div>
        <br><br>
        <button mat-button matStepperPrevious class=" col-3 col-xl-3 col-md-3 col-sm-1 btn-warning p-2"><i
          class="fa fa-arrow-circle-left" aria-hidden="true"></i> Zurück
        </button>
        <button mat-button matStepperNext class=" col-3 col-xl-3 col-md-3 col-sm-1 btn-primary p-2">Nächste <i
          class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
      </form>
    </mat-step>
    <mat-step>

      <ng-template matStepLabel><i class="fas fa-check text-primary"></i> Fertig</ng-template>
      <p>Sie sind jetzt fertig.</p>
      <p>Am nächsten Schritt erhalten Sie die automatische Antworten.</p>
      <div class="clearfix"></div>
      <br><br>
      <button mat-button matStepperPrevious class="col-4 col-xl-4 col-md-4 col-sm-1 btn-warning p-2"><i
        class="fa fa-arrow-circle-left" aria-hidden="true"></i> Zurück
      </button>
      <button mat-button (click)="stepper.reset()" class="col-4 col-xl-4 col-md-4 col-sm-1 btn-danger p-2">Zurücksetzen
        <i
          class="fa fa-eraser" aria-hidden="true"></i></button>
      <button type="submit" (click)="submit(ID)" class="col-4 col-xl-4 col-md-4 col-sm-1 btn-primary p-2">Senden <i
        class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </mat-step>
  </mat-horizontal-stepper>
</div>

