.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.questions {
  min-height: 500px;
}

p,div{
  line-height: 180%;
  font-size: 1.05em;
  font-family: Helvetica;
  color: #4b4b4b;
  text-align: justify;
}

p::-moz-selection, div::-moz-selection { color: white; background: black}
p::selection, div::selection { color: white; background: black }

.btn-warning{
  color: white;
}
