<!--<loading-spiner *ngIf="showSpinner"></loading-spiner>-->
<p class="page-title"> Page : Meine Teinahmen an Challenges Details</p>
<br>

<ng-container *ngFor="let item of data">
  <div class="challenges container-fluid">
    <ng-container *ngIf="item.contributions">
      <div *ngFor="let c of item.contributions">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 float-left contributting-item-detail">
          <div class="c-item-inner">

            <div class="image">
              <a routerLink="{{c.id}}">
                <img src="{{c.image}}" alt="{{ c.title}}">
              </a>
            </div>

            <div class="c-title">
              <span>Title: {{ c.title }}</span>
            </div>

            <div class="c-item-infor">
              <div ngClass="description">
                <span>Beschreibung der Lösung: {{ c.description }}</span>
              </div>
              <div ngClass="createdAt">
                <span>
                  Hergestellt in:{{ c.createdAt }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

