.footer {
  margin: 5px 0;
  background: #eeeeee;
  color: #737373;
  display: flow-root;

  a {
    color: #737373;
  }

  .f-fb {
    color: #4167b2;
  }

  .f-tw {
    color: #1ea2f1;
  }

  .f-in {
    color: burlywood;
  }
}

.powerby{
  color: blue !important;
  :hover{
    cursor: pointer;
  }
}
