<div class="clearfix"></div>
<div class="footer col-xs-12 col-md-6 col-sm-12 col-lg-12" *ngIf="this.userService.isValid()">
  <div class="footer-social">
    <i class="fab fa-facebook f-fb"></i><a href="#">Facebook</a>
    <i class="fab fa-twitter f-tw"></i><a href="#">Twiter</a>
    <i class="fab fa-instagram f-in"></i><a href="#">Instagram</a>
  </div>
  <div class="footer-main">
    <div class="col-xs-12 col-md-12 col-sm-12  col-lg-3 float-left">
      <img src="../../../assets/images/logo.png" height="40" width="40"/> <br>
      <i class="fas fa-phone"></i> 0176 2222 45555 <br>
      <i class="far fa-envelope"></i> vantinh@gmail.com <br>
      <i class="fas fa-map-marker-alt"></i> Lichtern Berg Berlin
    </div>

    <div class="col-xs-12 col-md-12 col-sm-12  col-lg-3 float-left">
      <p>Information</p>
      <ul>
        <li><a href="#">AGB</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Impression</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Data Protection</a></li>
      </ul>
    </div>

    <div class="col-xs-12 col-md-12 col-sm-12  col-lg-3 float-left">
      <p>Hotline & Contact</p>
      <span> Do you have questions</span> <br>
      +(49)176 2222 45555 <br>
      <span>opening hours</span><br>
      Monday - Friday: 09:00 - 18:00s <br>
    </div>

    <div class="col-xs-12 col-md-12 col-sm-12  col-lg-3 float-left">
      <p>Power By <a href="https://www.coninohealth.com/medtech-unternehmen" target="_blank" class="powerby">Conino Health</a></p><br>
      <span>info@coninohealth.de</span><br>
      <span>Coninostraße 11 – 10439 Berlin</span>
      <span>030 123 456</span>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="footer-copyright clearfix">
    <p>Copyright © 2020 Co Innovation Digital Helth</p>
  </div>
</div>
