<circle-progress *ngIf="showSpinner"
                 [percent]="100"
                 [radius]="20"
                 [outerStrokeWidth]="4"
                 [innerStrokeWidth]="1"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="1000"
                 [responsive]="true"
                 [clockwise]=true
></circle-progress>

<p class="page-title"> Page : Creator-med-tech</p>
<p class="text-center"><a routerLink="add" class="btn btn-sm btn-success mb-2">Neue Fragenbogen anlegen</a></p>
