
.groups {
  display: flex;
  justify-content: space-between;

  .groups-item {
    color: white;
    padding: 5px;
    border: 1px solid #343a40;

    span {
      font-weight: bold;
    }
  }

  .groups-item:hover {
    cursor: pointer;
  }
}


.challenges {
  border: 1px solid #343a40;
}

.c-title {
  text-align: center;
  margin: 12px 0;
}

.challenge-item {
  margin: 10px 0;

  .image {
    img {
      transition: transform .2s;
      width: 100%;
      height: 300px;
    }

    img:hover {
      -ms-transform: scale(1.2); /* IE 9 */
      -webkit-transform: scale(1.2); /* Safari 3-8 */
      transform: scale(1.2);
      cursor: pointer;
    }
  }

  .c-item-inner {
    border: 1px solid #b4b4b4;
  }

  .c-item-infor {
    padding: 10px;

    .founder {
      font-weight: bold;
      color: #737373;
    }

    .title {
      font-weight: bold;
      font-size: 20px;
      color: #000000;
      margin: 5px 0;
    }

    .description {
      color: #b4b4b4;
      margin-bottom: 5px;
    }

    .group span {
      padding: 5px 10px;
      background: #4a51ff;
      color: white;
      display: inline-block;
      float: left;
      margin-right: 5px;
      margin-bottom: 10px;
      border-radius: 5px;
    }

    .premium {
      height: 50px;
      clear: both;

      i {
        width: 5%;
        float: left;
        line-height: 30px;
      }

      span {
        float: left;
        width: 95%;
        padding-left: 10px;
        font-size: 13px;
      }
    }

    .founder {
      span {
        margin-right: 15px;
      }
    }

    .timeEnd {
      color: #ceb59a;
    }
  }
}


.classActive {
  color: #efabed;
}

.clear {
  clear: both;
}

.page-title {
  padding-left: 20px;
  background: #89efa8;
}


.list {
  .challenge-item {
    max-width: 100%;

    .c-item-inner {
      display: flow-root;
    }

    .image {
      width: 30%;
      float: left;
    }

    .c-item-infor {
      width: 70%;
      float: left;
    }
  }
}

.description {
  height: 50px;
}

