<!--  https://www.youtube.com/watch?v=5tm_rR-zBec  star -->
<!--  https://github.com/Bigless27/star-rating-angular/tree/master/src/app/star-->

<div class="d-vote">
  <h3 style="background: #89efa8;">Teilnahmen an Challenge</h3>
  <form [formGroup]="form" (ngSubmit)="onClickedForm(form.value)" #myform="ngForm">

    <!--    <p><b>Gesamtbewertung</b></p>-->
    <!--    <h1 class="text-warning">-->
    <!--      Bitte voten Sie:-->
    <!--      <ngb-rating [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>-->
    <!--    </h1>-->
    <!--    <p>Rated punkte: {{currentRate}}</p>-->

    <!--    <input type="hidden" formControlName="hiddenrating" value="{{currentRate}}" class="form-control">-->

    <div class="form-group">
      <p><b>Foto oder Video hinzufügen</b></p>
      <p>
        <small>Bilder und Videos hilfreicher als nur Text !</small>
      </p>
      <input type="file" formControlName="file" class="form-control" (change)="onSelectedFile($event)">
      <div *ngIf="form.get('file').hasError('required') && myform.submitted" class='alert alert-danger'>File PDF order
        Image is required
      </div>
    </div>

    <div class="form-group">
      <p><b>Titel hinzufügen</b></p>
      <input type="text" name="title" placeholder="Was ist die wichtigste Information?"
             formControlName="title"
             class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div *ngIf="form.get('title').hasError('required') && myform.submitted" class='alert alert-danger'>Title is
        required
      </div>
    </div>

    <div class="form-group">
      <p><b>Schreiben Sie Ihre Rezension</b></p>
      <textarea type="text" formControlName="description"
                name="description"
                placeholder="Was hat Ihnen gefallen oder missfallen? Wozu haben Sie dieses Produkt verwendet? "
                class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></textarea>
      <div *ngIf="form.get('description').hasError('required') && myform.submitted" class='alert alert-danger'>
        Description is required
      </div>
    </div>
    <button type="submit" class="absenden btn-warning">Absenden</button>
  </form>
</div>
