<div class="home col-12">
  <p>
    we are a start up team of angular
    Designers, developers & Digital marketters
    From Incredible Germany

    Our Name came from the professor Thorsen. He has been working now in the Charity Hospital.
    And He has found this idea ,in order to get more ideas for the actual challenges in the world.
  </p>
</div>

<div class="galaxy">
  <div class="image1 col-lg-6 col-md-6 col-sm-12 col-xl-6 float-left">
    <img class="image1-img" src="../../../assets/images/charity-hospital.jpg"/>
  </div>
  <div class="image2 col-lg-6 col-md-6 col-sm-12 col-xl-6 float-left">
    <img class="image2-img" src="../../../assets/images/charity2-hospital.jpg"/>
  </div>
</div>

