<circle-progress *ngIf="showSpinner"
                 [percent]="100"
                 [radius]="20"
                 [outerStrokeWidth]="4"
                 [innerStrokeWidth]="1"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="1000"
                 [responsive]="true"
                 [clockwise]=true
></circle-progress>
<p class="page-title"> Page : Meine Teinahmen an Challenges</p>
<p>
  Sie können hier Ihre Lösung nochmals anschauen, was für Challgen entsprechend ist
</p>

<app-actually-challange-form-search (notify)="onNotified($event)"
                                    (submmit)="onSubmitted($event)"></app-actually-challange-form-search>
<br>

<div *ngIf="showdata1">
  <div ngClass="groups" *ngFor="let item of data">
    <div *ngFor="let row of item.groups" ngClass="groups-item" [style.background]="getClass(row.id, data)">
      <span [id]=row.id (click)="getOneGroup(row.id)"> Für {{ row.title }} </span>
    </div>
  </div>
  <br>

  <div *ngFor="let item of data" ngClass="challenges container-fluid" class="{{ view }}" style="display: inline-block">
    <p class="c-title">Aktuelle Beiträge</p>
    <div *ngIf="item.contributions">
      <div *ngFor="let c of item.contributions">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 float-left challenge-item">
          <div class="c-item-inner">
            <div class="image">
              <a routerLink="{{c.id}}">
                <img src="{{c.challengeID.image}}" alt="{{ c.challengeID.title}}">
              </a>
            </div>

            <div class="c-item-infor">
              <div ngClass="founder">
                <span>{{ c.challengeID.initiator }}</span>
              </div>
              <div ngClass="title">
                <a routerLink="{{c.id}}">
                  {{ c.challengeID.title }}
                </a>
              </div>
              <div ngClass="description">
                {{ challengeService.description_slice(0, 100, c.challengeID.description) }}
              </div>
              <div ngClass="group" *ngFor="let gr of c.challengeID.group">
                <span [style.background]="getClass(gr.id, data)">{{ gr.title }}</span>
              </div>
              <div ngClass="premium">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span>  {{ c.challengeID.premium }}</span>
              </div>

              <div ngClass="join">
                <a routerLink="{{c.id}}" class="btn btn-danger">
                  Detail
                </a>
              </div>

              <div ngClass="timeEnd">
                <span> <i class="fas fa-stopwatch"></i>  {{ calculateDiff(c.challengeID.timeEnd) }}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<div *ngIf="showdata2" class="{{ view }}">
  <div ngClass="groups" *ngFor="let item of data2">
    <div *ngFor="let row of item.groups" ngClass="groups-item" [style.background]="getClass(row.id, data2)">
      <span [id]=row.id (click)="getOneGroup(row.id)"
            [ngClass]="{ 'classActive': classActive ==  row.id }"> Für {{ row.title }} </span>
    </div>
  </div>
  <br>

  <div *ngFor="let item of data2" ngClass="challenges container-fluid" class="{{ view }}" style="display: inline-block">
    <div *ngIf="item.contributions">
      <div *ngFor="let c of item.contributions">
        <div *ngIf="c.group.length > 0">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 float-left challenge-item">
            <div class="c-item-inner">
              <div class="image">
                <a routerLink="{{c.id}}">
                  <img src="{{c.challengeID.image}}" alt="{{ c.challengeID.title}}">
                </a>
              </div>

              <div class="c-item-infor">
                <div ngClass="founder">
                  <span>{{ c.challengeID.initiator }}</span>
                </div>
                <div ngClass="title">
                  <a routerLink="{{c.id}}}">{{ c.challengeID.title }}</a>
                </div>
                <div ngClass="description">
                  {{ challengeService.description_slice(0, 100, c.challengeID.description) }}
                </div>
                <div ngClass="group" *ngFor="let gr of c.challengeID.group">
                  <span [style.background]="getClass(gr.id, data2)">{{ gr.title }}</span>
                </div>
                <div ngClass="premium">
                  <span> <i class="fa fa-trophy" aria-hidden="true"></i> {{ c.challengeID.premium }}</span>
                </div>

                <div ngClass="join">
                  <a routerLink="{{c.id}}">
                    Details
                  </a>
                </div>

                <div ngClass="timeEnd">
                  <span> <i class="fas fa-stopwatch"></i> {{ calculateDiff(c.challengeID.timeEnd) }}</span>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
