<p class="page-title"> Page : Meine Voting detail</p>

<app-actually-challange-form-search (notify)="onNotified($event)"
                                    (submmit)="onSubmitted($event)"></app-actually-challange-form-search>
<br>

<ng-container *ngIf="showdata1">

  <div *ngFor="let item of data" ngClass="challenges container-fluid" class="{{ view }}" style="display: inline-block">
    <p class="c-title">Aktuelle Vottings</p>
    <ng-container *ngIf="item.votings">
      <div *ngFor="let c of item.votings">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 float-left challenge-item">
          <div class="v-item-inner">
            <div class="v-title">
              <b>Title von Votting ist : {{ c.title}}</b>
            </div>

            <div class="v-description">
              Beschreibung von Votting ist : {{ c.description}}
            </div>

            <div class="v-voted-point">
              Voted Punkte : {{ c.votedPoint}}
            </div>

            <div class="v-created-at">
              Hergestellt in : {{ c.createdAt}}
            </div>

            <div class="challenge">
              <p><b>Für untere Challenge</b></p>

              <div class="image">
                <!--                        <a routerLink="{{c.id}}">-->
                <img src="{{c.challengeID.image}}" alt="{{ c.challengeID.title}}">
                <!--                        </a>-->
              </div>

              <div class="c-item-infor">
                <div ngClass="founder">
                  <span>{{ c.challengeID.initiator }}</span>
                </div>
                <div ngClass="title">
                  <!--                          <a routerLink="{{c.id}}">-->
                  {{ c.challengeID.title }}
                  <!--                          </a>-->
                </div>
                <div ngClass="description">
                  {{ challengeService.description_slice(0, 100, c.challengeID.description) }}
                </div>
                <div ngClass="group" *ngFor="let gr of c.challengeID.group">
                  <span [style.background]="getClass(gr.id, data)">{{ gr.title }}</span>
                </div>
                <div ngClass="premium">
                  <i class="fa fa-trophy" aria-hidden="true"></i>
                  <span>  {{ c.challengeID.premium }}</span>
                </div>

                <div ngClass="timeEnd">
                  <span> <i class="fas fa-stopwatch"></i>  {{ calculateDiff(c.challengeID.timeEnd) }}</span>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </ng-container>
  </div>

</ng-container>


<app-votting></app-votting>
