.left-side.top-fixed20 {
  float: left;
  position: fixed;
  left: 0;
  width: 20%;
}

.content {
  padding-left: 20px;
  padding-right: 20px;
}

.content.top-fixed20 {
  width: calc(100% - 20%);
  float: right;
  min-height: 100%;
  height: 100%;
  background: white;
}

.left-side.top-fixed5 {
  float: left;
  position: fixed;
  left: 0;
  width: 1%;
}

.content.top-fixed5 {
  width: calc(100% - 1%);
  float: right;                
  min-height: 100%;
  height: 100%;
  background: white;
}

.page-title{
  background: #89efa8;
}

@media only screen and (max-width: 700px) {
  .content.top-fixed20{
    width: 100%;
    float: right;
    min-height: 100%;
    height: 100%;
    background: white;
    .logo{
    }
  }

  .content.top-fixed5 {
    width: 100%;
    float: right;
    min-height: 100%;
    height: 100%;
    background: white;
  }

  .left-side{
    position: absolute;
    left: 8px;
  }

  .left-side.top-fixed20{
    float: left;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    background: red;
    z-index: 999;
  }
}

@media only screen and (max-width: 640) {
  
}


p,div{
  line-height: 180%;
  font-size: 1.05em;
  font-family: Helvetica;
  color: #4b4b4b;
  text-align: justify;
}

.tinhcv-p::-moz-selection, div::-moz-selection, p::-moz-selection {
  color: white;
  background: black
}

.tinhcv-p::selection, div::selection, p::selection {
  color: white;
  background: black
}
