<div class="left-side {{ this.classmenu }}">
    <app-sidebar (notify)="Onclick($event)"></app-sidebar>
</div>
<div class="content {{ this.classmenu }}">
    <div>
        <router-outlet></router-outlet>
    </div>

    <app-footer></app-footer>
</div>
