<div class="d-container">
  <p class="d-title">Actually-challange-detail Seite</p>
  <br>
  <div class="d-details col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ng-container *ngFor="let c of data">
      <div class="d-image text-center">
        <img class="img" src="{{c.image}}" alt="{{ c.title }}">
      </div>
      <p>Title: {{ c.title }}</p>
      <p>Beschreibung: {{ c.description }}</p>

      <ng-container *ngFor="let cate of c.category">
        <span>Category: {{ cate.title}}</span>
      </ng-container>
      <br>
      <ng-container *ngFor="let g of c.category">
        <span>Group: {{ g.title}}</span>
      </ng-container>

      <p>Initiator für Challenge: {{ c.initiator }}</p>
      <p>Premium: {{ c.premium }}</p>
      <p>Time end: {{ c.timeEnd }}</p>
      <p>Created at: {{ c.createdAt }}</p>
    </ng-container>
  </div>
  <hr>
  <div class="flex-container" style="display: flex;">
    <app-contribution (formSubmit)="formSubmit($event)">
    </app-contribution>
  </div>
</div>
