.d-container {
  margin: 20px 0;
}

.d-title {
  padding-left: 20px;
  background: #89efa8;
}

.d-details .d-image .img {
  width: 350px;
  height: 300px;
  border-radius: 5%;
}

.absenden {
  display: block;
  font-size: 13px;
  line-height: 29px;
  margin: 0;
  outline: 0;
  padding: 0 10px 0 11px;
  text-align: center;
  white-space: nowrap;
  color: black;
  font-weight: bold;

  :hover {
    background: rgba(255, 217, 83, 0.48);
    cursor: pointer;
  }
}
