<div class="r-container">
  <p class="r-title">My-challange-result page</p>
  <br>
  <div class="d-details col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ng-container *ngFor="let c of data">
      <div class="d-image text-center">
        <img class="img" src="{{c.image}}" alt="{{ c.title }}">
      </div>
      <p>Title: {{ c.title }}</p>
      <p>Beschreibung: {{ c.description }}</p>

      <ng-container *ngFor="let cate of c.category">
        <span>Category: {{ cate.title}}</span>
      </ng-container>
      <br>
      <ng-container *ngFor="let g of c.category">
        <span>Group: {{ g.title}}</span>
      </ng-container>

      <p>Initiator für Challenge: {{ c.initiator }}</p>
      <p>Premium: {{ c.premium }}</p>
      <p>Time end: {{ c.timeEnd }}</p>
      <p>Created at: {{ c.createdAt }}</p>
    </ng-container>
  </div>
  <hr>

  <h3 class="r-title">Alle Voting von dieser Challenge:</h3>

  <ng-container *ngFor="let v of votings">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-left v-item">
      <div class="v-title">
        Name von Voting : {{ v.title}}
      </div>
      <div class="v-description">
        Beschreibung für diese Voting : {{ v.description}}
      </div>
      <div class="v-votedpont">
        VotedPoint: {{ v.votedPoint}}
      </div>
      <div class="v-createdBy">
        createdBy: {{ v.createdBy.username}}
      </div>
    </div>
  </ng-container>
  <hr>
  <div class="clearfix"></div>

  <h3 style="background-color: #ffd953; clear: both">Alle Teinahmen von alle Users</h3>
  <ng-container *ngFor="let c of contributions">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 float-left v-item">
      <div class="c-title">
        Name von Lösung : {{ c.title}}
      </div>
      <div class="c-description">
        Beschreibung für diese Lösung : {{ c.description}}
      </div>
      <div class="c-image">
        angehängte Datei: <a href="{{ c.image}}" target="_blank">Sehen Datei (PDF or Image)</a>
      </div>
      <div class="c-createdBy">
        createdBy: {{ c.createdBy.username}}
      </div>
      <div class="c-createdAt">
        createdAt: {{ c.createdAt}}
      </div>
    </div>
  </ng-container>
  <div class="clearfix"></div>
</div>
