<div class="filter">
  <div class="form-filter">
    <form [formGroup]="form" (submit)="formSubmmited(form.value)">
      <div class="form-row">
        <div class="form-row col-md-2">
          <label class="col-12">Text Suchen:</label> <br>
          <input type="text" class="col-12" placeholder="search text" formControlName="searchtext">
        </div>

        <div class="form-row col-md-3">
          <label class="col-12">Von:</label>
          <input type="datetime-local" step="1" class="col-12" placeholder="Von" formControlName="from">
        </div>

        <div class="form-row col-md-3">
          <label class="col-12">Bis:</label>
          <input type="datetime-local" step="1" class="col-12" placeholder="Bis" formControlName="to">
        </div>

        <div class="form-row col-md-2">
          <label class="col-12">Thema:</label><br>
          <select formControlName="category" class="form-control col-12">
            <option value="">Wählen Thema</option>
            <option *ngFor="let c of categories" value="{{c.id}}">{{c.title}}</option>
          </select>
        </div>
        <!--        <div class="form-row col-md-3">-->
        <!--          <label>Groups:</label><br>-->
        <!--          <select formControlName="group" class="form-control">-->
        <!--            <option disabled>Wählen Group</option>-->
        <!--            <option *ngFor="let g of groups" value="{{g.id}}">{{g.title}}</option>-->
        <!--          </select>-->
        <!--          <br>-->
        <!--        </div>-->

        <div class="form-row col-md-1 text-center ">
          <button type="submit" class="btn btn-success btn-filter">Filter</button>
        </div>
      </div>
    </form>
  </div>

  <div class="filter-view text-right">
    <br>
    <button (click)='onClickedGrid()' class="grid-view btn btn-success col-md-2"><i class="fas fa-th-large"></i>
      Kachelansicht
    </button>
    <button (click)='onClickedList()' class="list-view btn btn-success col-md-2"><i class="fas fa-list">
      Listeansicht</i></button>
    <br>
  </div>
</div>
