<circle-progress *ngIf="showSpinner"
                 [percent]="100"
                 [radius]="30"
                 [outerStrokeWidth]="4"
                 [innerStrokeWidth]="1"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="2000"
                 [responsive]="true"
                 [clockwise]=true
                 [backgroundColor]="'#c00c0c'"
                 [class]="'cricle-vantinh'"
></circle-progress>

<div class="page-creator">
  <div class="col-md-2 col-sm-12 left-side float-left"> Fragebogen erstellen:
    <br>
    <br>
    <div>
      <button (click)=" addQuestionText()" class="btn-tinhcv btn-success"> <i class="fas fa-paragraph"></i> Text <i class="fas fa-plus"></i></button>
      <br>
      <br>
    </div>

    <div class=".text-primary">
      <button (click)="addQuestionText_area()" class="btn-tinhcv btn-success"> <i class="fas fa-paragraph"></i> Text Area <i class="fas fa-plus"></i></button>
      <br>
      <br>
    </div>

    <div class=".text-primary">
      <button (click)="addQuestionCheckbox()" class="btn-tinhcv btn-success"><i class="far fa-check-circle"></i> Multiple Checkbox <i class="fas fa-plus"></i></button>
      <br>
      <br>
    </div>

    <div class=".text-primary">
      <button (click)="addQuestionSelect()" class="btn-tinhcv btn-success"><i class="fas fa-check"></i> Multiple Select <i class="fas fa-plus"></i></button>
      <br>
      <br>
    </div>

    <ng-container *ngIf="restrictVideo < 1">
      <div class=".text-primary">
        <button (click)="addQuestionVideo()" class="btn-tinhcv btn-success"><i class="fas fa-video"></i> Videos <i class="fas fa-plus"></i></button>
        <br>
        <br>
      </div>
    </ng-container>

    <ng-container *ngIf="restrictImage < 1">
      <div class=".text-primary">
        <button (click)="addQuestionImage()" class="btn-tinhcv btn-success"><i class="fas fa-images"></i> Bilder <i class="fas fa-plus"></i></button>
        <br>
        <br>
      </div>
    </ng-container>
  </div>

  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
  <div class="col-md-10 col-sm-10 right-side float-left text-success">
    <form action="" [formGroup]="surveyForm">
      <div class="col-lg-9 col-xl-9 col-md-9 col-sm-12 tinhcv-hover">
        <label>Title: </label>
        <br>
        <input type="text" formControlName="title" class="col-6">
      </div>

      <div class="col-lg-9 col-xl-9 col-md-9 col-sm-12 tinhcv-hover">
        <label>Beschreibung</label>
        <textarea formControlName="description" class="col-12"></textarea>
      </div>

      <div class="col-lg-9 col-xl-9 col-md-9 col-sm-12 right-side float-left">
        <p class="bg-blue">Text, Textarea, Select, Checkbox</p>
        <!-- question Type Text -->
        <div formArrayName="questionTexts" class="tinhcv-hover">
          <div id="id-textbox">
            <div *ngFor="let quantity of question_text().controls; let i=index" [formGroupName]="i">
              <i class="fas fa-question col-1 col-xl-1 col-lg-1 col-sm-1 float-left text-center"></i>
              <input type="text" formControlName="question_text"
                     class="col-10 col-xl-10 col-lg-10 col-sm-1 float-left form-control"
                     placeholder="Question Text {{ i }}">
              <i class="fas fa-trash-alt col-1 col-xl-1 col-lg-1 col-sm-1" (click)="removeQuestionText(i)"></i>
              <div class="clearfix">

              </div>
            </div>
          </div>
        </div>

        <!-- Text area -->
        <div formArrayName="questionTextArea">
          <div id="id-textbox_area">
            <div *ngFor="let area of question_text_area().controls; let i=index" [formGroupName]="i">
              <textarea formControlName="question_area"
                        class="col-11 col-xl-11 col-lg-11 col-sm-1 float-left form-control tinhcv-hover"
                        placeholder="Question with text area {{ i }}"></textarea>
              <i class="fas fa-trash-alt col-1 col-xl-1 col-lg-1 col-sm-1 float-left"
                 (click)="removeQuestionText_area(i)"></i>
            </div>
          </div>
        </div>

        <!-- Checkbox -->
        <div formArrayName="questionCheckbox">
          <div id="id-checkbox">
            <ng-container *ngFor="let check of question_checkbox().controls; let i=index" [formGroupName]="i">
              <div class="col-12 col-xl-12 col-lg-12 col-sm-1 float-left tinhcv-hover">
                <i class="fas fa-question col-1 col-xl-1 col-lg-1 col-sm-1 float-left text-center"></i>
                <input type="text"
                       formControlName="question_checkbox"
                       class="col-10 col-xl-10 col-lg-10 col-sm-1 float-left form-control"
                       placeholder="question of type checkbox {{ i }}">
                <i class="fas fa-trash-alt col-1 col-xl-1 col-lg-1 col-sm-1" (click)="removeQuestionCheckbox(i)"></i>
                <span class="clearfix"></span>

                <div class="row" formArrayName="options">
                  <div class="col-12 col-lg-12 col-xl-12 col-sm-1 float-left"
                       *ngFor="let option of getChecboxOptions(i).controls; let j = index" formGroupName="{{j}}">
                    <i class="fas fa-check-square col-1 col-xl-1 col-lg-1 col-sm-1 float-left text-center"></i>
                    <input type="text" formControlName='option'
                           class="col-10 col-xl-10 col-lg-10 col-sm-1 float-left form-control" placeholder="option abc">
                    <i class="fas fa-trash-alt col-1 col-xl-1 col-lg-1 col-sm-1"
                       (click)="removeCheckboxOption(i,j)"></i>
                  </div>
                </div>

                <br><br>
                <button type="button" class="btn-tinhcv btn-green btn-sm more-option btn-success" (click)="addCheckboxOption(i)">mehr option
                </button>
                <br>
              </div>
            </ng-container>
          </div>
        </div>

        <!-- Select Select Select Select Select Select Select Select Select Select Select Select Select Select Select Select Select Select Select -->
        <div formArrayName="questionSelect">
          <div id="id-select">
            <div *ngFor="let check of question_select().controls; let i=index" [formGroupName]="i"
                 class="col-12 col-xl-12 col-lg-12 col-sm-1 float-left tinhcv-hover">
              <i class="fas fa-question col-1 col-xl-1 col-lg-1 col-sm-1 float-left text-center"></i>
              <input type="text"
                     formControlName="question_select"
                     class="col-10 col-xl-10 col-lg-10 col-sm-1 float-left form-control"
                     placeholder="question of type select {{ i }}">
              <i class="fas fa-trash-alt col-1 col-xl-1 col-lg-1 col-sm-1 float-left"
                 (click)="removeQuestionSelect(i)"></i>
              <span class="clearfix"></span>

              <div class="row" formArrayName="selectoptions">
                <div class="col-12 col-lg-12 col-xl-12 col-sm-1 float-left"
                     *ngFor="let option of getSelectOptions(i).controls; let j = index" formGroupName="{{j}}">
                  <i class="fas fa-check-square col-1 col-xl-1 col-lg-1 col-sm-1 float-left text-center"></i>
                  <input type="text" formControlName='selectoption'
                         class="col-10 col-xl-10 col-lg-10 col-sm-1 float-left form-control"
                         placeholder="selectoption in select">
                  <i class="fas fa-trash-alt col-1 col-xl-1 col-lg-1 col-sm-1" (click)="removeSelectOption(i,j)"></i>
                </div>
              </div>

              <br><br>
              <button type="button" class="btn-green btn-sm more-option btn-success btn-tinhcv" (click)="addSelectOption(i)">mehr option
              </button>
              <br>

            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 right-side float-left">
        <p class="bg-blue">Videos und Bilders</p>
        <!-- Videos -->
        <div formArrayName="questionVideos" class="tinhcv-hover">
          <div id="id-video">
            <div *ngFor="let check of question_video().controls; let i=index" [formGroupName]="i">
              <span>Videos <i class="fas fa-video"></i></span>
              <i class="fas fa-trash-alt col-1 col-xl-1 col-lg-1 col-sm-1" (click)="removeQuestionVideo(i)"></i>
              <input type="file" multiple="multiple" formControlName="question_video" placeholder="add video"
                     (change)="onFileVideoChange($event)">
              <!-- seperator -->
              <div class="row">
                <div class="col">
                  <hr>
                </div>
              </div>
            </div>
          </div>

          <video class="video-preview" *ngFor='let url of videos' autoplay controls height="150" width="200px"
                 style="margin: 3px;">
            <source [src]="url" type="video/mp4">
            <source [src]="url" type="video/ogg">
            Your browser does not support HTML video.
          </video>


        </div>

        <!-- Images -->
        <div formArrayName="questionImages" class="tinhcv-hover">
          <div id="id-image">
            <div *ngFor="let check of question_image().controls; let i=index" [formGroupName]="i">
              <span>Image <i class="far fa-image" style="font-size: 18px"></i></span>
              <i class="fas fa-trash-alt col-1 col-xl-1 col-lg-1 col-sm-1" (click)="removeQuestionImage(i)"></i>
              <input type="file" multiple="multiple" formControlName="question_image" placeholder="add image"
                     (change)="onFileImagesChange($event)">

              <!-- seperator -->
              <div class="row">
                <div class="col">
                  <hr>
                </div>
              </div>
            </div>
          </div>

          <img class="image-preview" *ngFor='let url of images' [src]="url" height="150" width="200px"
               style="margin: 3px;">
        </div>

      </div>
      <div class="clearfix"></div>
      <div class="row" style="text-align:center;">
        <button type="submit" (click)="onSubmit()" class="btn-tinhcv btn-save btn-success btn-lg btn-speicher">Speicher Survey
        </button>
        <button type="submit" (click)="onPreview()" class="btn-tinhcv btn-save btn-primary text-white btn-lg"
                (click)="open(mymodal)">
          Vorschau
        </button>
      </div>

    </form>

  </div>

</div>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title bg-primary" id="modal-basic-title bg-blue">Survey Vorschau</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="text-primary">×</span>
    </button>
  </div>

  <div class="modal-body">
    <div *ngIf="formInfor" class="col-lg-12 col-xl-12 col-md-12 col-sm-12 left-side float-left">
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" optional>
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Bitte fülle Sie Teil A</ng-template>
            <div *ngFor="let item of formInfor; let i = index">
              <ng-container *ngIf="i < 7">
                <ng-container *ngIf="i == 0">
                  <p class="text-white bg-primary"> Title: {{ item.title }} </p>
                </ng-container>

                <ng-container *ngIf="i == 1">
                  <p class="text-white bg-primary">Desciption: {{ item.description }}</p>
                </ng-container>

                <ng-container *ngIf="i > 1">

                  <ng-container *ngIf="item.input == 'text'">
                    <span>Question {{ i - 1 }} : <b>{{ item.value }}</b></span>
                    <br>
                    <input type="text" value="" class="form-control">
                  </ng-container>

                  <ng-container *ngIf="item.input == 'textarea'">
                    <span>Question {{ i - 1 }} : <b>{{ item.value }}</b></span>
                    <br>
                    <textarea class="form-control"></textarea>
                  </ng-container>

                  <!-- Check box-->
                  <ng-container *ngIf="item.input == 'checkbox'">
                    <p>Question {{ i - 1 }} : <b>{{ item.question  }}</b></p>
                    <ng-container *ngFor="let row of item.value; let j= index">
                      <input type="checkbox" value="{{ row.option}}">
                      {{ row.option }}
                      <br>
                    </ng-container>
                  </ng-container>

                  <!-- Select -->
                  <ng-container *ngIf="item.input == 'select'">
                    <p>Question {{ i - 1 }} : <b>{{ item.question  }}</b></p>

                    <select class="form-control">
                      <ng-container *ngFor="let row of item.value; let j= index">
                        <option type="checkbox" value="{{ row.selectoption}}">{{ row.selectoption}}</option>
                        <br>
                      </ng-container>
                    </select>
                  </ng-container>

                  <ng-container *ngIf="item.input == 'video'">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left">
                      <p class="text-white bg-primary">Video :</p>

                      <ng-container *ngFor="let url of videos">
                        <video height="150" width="200px" style="margin: 3px;" autoplay controls>
                          <source [src]="url" type="video/mp4">
                          <source [src]="url" type="video/ogg">
                          Sorry, your browser doesn't support embedded videos.
                        </video>
                      </ng-container>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="item.input == 'image'">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left">
                      <p class="text-white bg-primary">Image :</p>
                      <ng-container *ngFor="let url of images">
                        <img [src]="url" height="150" width="200px" style="margin: 3px;"
                             alt="">
                      </ng-container>
                    </div>
                  </ng-container>

                </ng-container>
              </ng-container>
            </div>
            <div>
              <br>
              <br>
              <button mat-button matStepperNext class="btn btn-primary">Nächste</button>
            </div>
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup" optional>
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Bitte fülle Sie  Teil B</ng-template>
            <div *ngFor="let item of formInfor; let i = index">
              <ng-container *ngIf="i > 6">
                  <ng-container *ngIf="item.input == 'text'">
                    <span>Question {{ i - 1 }} : <b>{{ item.value }}</b></span>
                    <br>
                    <input type="text" value="" class="form-control">
                  </ng-container>

                  <ng-container *ngIf="item.input == 'textarea'">
                    <span>Question {{ i - 1 }} : <b>{{ item.value }}</b></span>
                    <br>
                    <textarea class="form-control"></textarea>
                  </ng-container>

                  <!-- Check box-->
                  <ng-container *ngIf="item.input == 'checkbox'">
                    <p>Question {{ i - 1 }} : <b>{{ item.question  }}</b></p>
                    <ng-container *ngFor="let row of item.value; let j= index">
                      <input type="checkbox" value="{{ row.option}}">
                      {{ row.option }}
                      <br>
                    </ng-container>
                  </ng-container>

                  <!-- Select -->
                  <ng-container *ngIf="item.input == 'select'">
                    <p>Question {{ i - 1 }} : <b>{{ item.question  }}</b></p>

                    <select class="form-control">
                      <ng-container *ngFor="let row of item.value; let j= index">
                        <option type="checkbox" value="{{ row.selectoption}}">{{ row.selectoption}}</option>
                        <br>
                      </ng-container>
                    </select>
                  </ng-container>

                <ng-container *ngIf="item.input == 'video'">
                  <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left">
                    <p class="text-white bg-primary">Video :</p>

                    <ng-container *ngFor="let url of videos">
                      <video height="150" width="200px" style="margin: 3px;" autoplay controls>
                        <source [src]="url" type="video/mp4">
                        <source [src]="url" type="video/ogg">
                        Sorry, your browser doesn't support embedded videos.
                      </video>
                    </ng-container>
                  </div>
                </ng-container>

                <ng-container *ngIf="item.input == 'image'">
                  <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left">
                    <p class="text-white bg-primary">Image :</p>
                    <ng-container *ngFor="let url of images">
                      <img [src]="url" height="150" width="200px" style="margin: 3px;"
                           alt="">
                    </ng-container>
                  </div>
                 </ng-container>

              </ng-container>

            </div>
            <div>
              <br>
              <br>
              <button mat-button matStepperPrevious class="btn btn-warning">Zurück</button>
              <button mat-button matStepperNext class="btn btn-primary">Nächste</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>Sie sind jetzt fertig. <br>
            Am nächsten Schritt erhalten Sie die automatische Antworten.</p>
          <div>
            <br>
            <br>
            <button mat-button matStepperPrevious class="btn btn-warning">Zurück</button>
            <button mat-button (click)="stepper.reset()" class="btn btn-danger">Zurücksetzen</button>
            <button mat-button class="btn btn-primary">Zurücksetzen</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>

    <!--<div class="col-lg-3 col-xl-3 col-md-3 col-sm-12 float-left hidden">
      Mehr Infomation:
      <ng-container *ngFor="let item of formInfor; let i = index">
        <ng-container *ngIf="i > 1">

          <ng-container *ngIf="item.input == 'video'">
            <p class="text-white bg-primary">Video :</p>

            <ng-container *ngFor="let url of videos">
              <video height="150" width="200px" style="margin: 3px;" autoplay controls>
                <source [src]="url" type="video/mp4">
                <source [src]="url" type="video/ogg">
                Sorry, your browser doesn't support embedded videos.
              </video>
            </ng-container>
          </ng-container>

          <ng-container *ngIf="item.input == 'image'">
            <p class="text-white bg-primary">Image :</p>
            <ng-container *ngFor="let url of images">
              <img [src]="url" height="150" width="200px" style="margin: 3px;"
                   alt="">
            </ng-container>
          </ng-container>
          <br>
        </ng-container>
      </ng-container>

    </div>-->

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-info btn-lg text-white bg-primary"
            (click)="modal.close('Save click')">Ok
    </button>
  </div>
</ng-template>
