.page-creator{
  padding: 30px 10px;
  .btn-save{
    margin-top: 30px;
  }

  .btn-speicher{
    margin-right: 10px;
  }
}
.modal-dialog {
  max-width: 850px;
  margin: 2rem auto;
}

i:hover{
  cursor: pointer;
}

.more-option{
  float: right;
  margin-bottom: 5px;
  border-style: dot-dash;
}

.btn-tinhcv:hover {
  border-radius: 5px;
  background: #1ea2f1;
  transition: all 0.3s;
}

.tinhcv-hover:hover{
  background: rgb(237 238 238);
  border-radius: 2px;
  transition: all 1s;
}
.tinhcv-hover{
  margin-bottom: 10px;
}
