.tinhcv-container{
  margin: 20px 0;
  display: inline-block;
}

.tinhcv-button {
  margin-bottom: 10px;
}

.tinhcv-textbox-diga {
  margin-right: 20px;
}

.tinhcv-container {
  min-height: 500px;
}

.tinhcv-daten {
  margin-top: 10px;
}

.tinhcv-share {
  margin: 10px 0;
  display: inline-block;
}

.fa-adn, .fa-info-circle, .fa-check, .fa-plus-square, .fa-keyboard, .fa-check, .fa-video, .fa-images, .fa-check-square {
  color: #efabed;
}


img {
  transition: transform .2s;
}

img:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
  cursor: pointer;
}

