<div class="tinhcv-container">
  <div class="tinhcv-result" id="print-section">
    <p><b>Ergebniss der Fragebogen:</b></p>
    <hr>
    <ng-container *ngIf="convertToArray">
      <ng-container *ngFor="let item of convertToArray; let i = index">
        <ng-container *ngIf="item.type=='title'">
          <span> <i class="fab fa-adn"></i> <b> Nummer {{ item.index }}- Title</b></span> <br>
          <span>{{ item.value }}</span> <br>
        </ng-container>

        <ng-container *ngIf="item.type=='description'">
          <span> <i class="fas fa-info-circle"></i> <b> Nummer {{ item.index }} - Beschreibung der Umfrage</b></span>
          <br>
          <p>{{ item.value }}</p> <br>
        </ng-container>

        <ng-container *ngIf="item.type == 'text' ">
          <div class="col-12 col-xl-12 col-md-12 col-sm-1 float-left">
            <label><i class="fas fa-keyboard"></i> <b> Nummer {{ item.index }} :  {{ item.question }}</b></label>
            <br>
            Antwort: {{ item.value }}
          </div>
        </ng-container>

        <ng-container *ngIf="item.type == 'textarea' ">
          <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
            <label><i class="fas fa-plus-square"></i> <b> Nummer {{ item.index }} :  {{ item.question }}</b></label>
            <br>
            Antwort: {{item.value}}
          </div>
        </ng-container>

        <ng-container *ngIf="item.type == 'checkbox' ">
          <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
            <label><i class="fas fa-check-square"></i> <b> Nummer {{ item.index }} :  {{ item.question }}</b></label>
            <br>
            Checked: {{ item.value }}
            <br>
          </div>
        </ng-container>

        <ng-container *ngIf="item.type == 'select' ">
          <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
            <label><i class="fas fa-check"></i> <b>Nummer {{ item.index }} :  {{ item.question }}</b></label>
            <br>
            Selected: {{ item.value }}
          </div>
        </ng-container>

        <ng-container *ngIf="item.type == 'video' ">
          <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
            <label><i class="fas fa-video"></i> <b> Nummer {{ item.index }} : Information von Videos</b></label>
            <br>
            <ng-container *ngFor="let url of item.value">
              <video height="150" width="200px" autoplay controls class="col-6 col-xl-6 col-md-6 col-sm-1">
                <source [src]="url" type="video/mp4">
                <source [src]="url" type="video/ogg">
                Sorry, your browser doesn't support embedded videos.
              </video>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="item.type == 'image' ">
          <div class="col-12 col-xl-12 col-md-1 col-sm-1 float-left">
            <label><i class="fas fa-images"></i><b>Nummer {{ item.index }} : Information von Bilders</b></label>
            <br><br>
            <ng-container *ngFor="let url of item.value">
              <img [src]="url" height="150" width="200px" class="col-3col-xl-3 col-md-3 col-sm-1"
                   alt="">
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>


    <hr>
    <div class="tinhcv-evalution">
      Sie haben <b>{{ currenPoint }}</b> von insgesamt <b>{{ totalPoint }}</b> Punkte. Deswegen erreichen Sie
      <b>{{ prozentPoint }}</b> % des Fragebogen.
      <br>
      Tabelle : Gebogene Bewertungsskala für den Fragebogen basierend auf
      <a href="https://uxpajournal.org/item-benchmarks-system-usability-scale-sus/">System Usability Scale(SUS)</a> <br>
      <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Von %</th>
          <th scope="col">Bis %</th>
          <th scope="col">Empfehlung Grad <br>A: Sehr Gut <br> B: Gut <br> C: Normal <br> D: Nicht so gut <br>F: Nicht gut </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>96</td>
          <td>100</td>
          <td>A+</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>90</td>
          <td>95</td>
          <td>A</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>85</td>
          <td>89</td>
          <td>A-</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>80</td>
          <td>84</td>
          <td>B+</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>70</td>
          <td>79</td>
          <td>B</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>65</td>
          <td>69</td>
          <td>B-</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>60</td>
          <td>64</td>
          <td>C+</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>41</td>
          <td>59</td>
          <td>C</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>35</td>
          <td>40</td>
          <td>C-</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>15</td>
          <td>34</td>
          <td>D</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>0</td>
          <td>14</td>
          <td>F</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>

  <div class="col-12 tinhcv-button">
    <div class="col-3 col-xl-3 col-md-3 col-sm-1 float-left">
      <button printSectionId="print-section"
              printTitle="MyTitle"
              [printStyle]="{h1 : {'color': 'red'}, h2 : {'border': 'solid 1px'}}"
              ngxPrint class="btn btn-primary"> Jetzt Drucken
      </button>
    </div>

    <!--    <div class="col-6 col-xl-6 col-md-6 col-sm-1 float-left">-->
    <!--      <input type="text" name="email" class="float-left tinhcv-textbox-diga">-->
    <!--      <button (click)="emailSent()" class="btn btn-primary">E-mail Senden</button>-->
    <!--    </div>-->

    <div class="col-3 col-xl-3 col-md-3 col-sm-1 float-left">
      <!--      <a href="https://www.bfarm.de/EN/MedicalDevices/DiGA/_node.html" class="hidden btn btn-primary">DiGA –MedTech-Apps</a>-->
      <button class="btn btn-primary" (click)="open(mymodal)">Charité-Forschungsprojektes "Conino Health"</button>
    </div>

  </div>

  <div class="tinhcv-share">
    <share-buttons show="11"></share-buttons>
  </div>

</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"><b>Charité-Forschungsprojektes "Conino Health"</b></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true" class="text-primary">×</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 float-left">
      Das Unternehmen "CoInnoHealth" ist Vermittler von digitalen Consulting-Services von Medizintechnik-Experten für
      Startups.
      CoInnoHealth bietet eine Toolbox für Consultants an, die keine Programmiererfahrung haben, um
      "einfache"Self-Services für MedTech-Startups zu erstellen.
      Diese Services können dann auf dem "CoInnHealth-Marktplatz" von den Beratern angeboten werden. <br>
      Mit Hilfe des "Conino-Consulting-Creators" haben Sie die Möglichkeit in wenigen Schritten Ihren eigenen
      Beratungsservice zu erstellen und auf ConinoHealth.org Ihren Kunden
      zur Verfügung stellen.

      Nachdem Sie unseren Frageboen erledigt hatte, bieten wir ein paar Dienst als digitalen Consulting-Service. <br>
      <br>
      <h3><b>DiGA –MedTech-Apps</b></h3>
      Das ist die DiGA –MedTech-Apps, die durch Krankenkassen erstattet werden.
      Fall Sie noch Zeit haben, würden wir gern dann einen Termin vereibaren, damit wir Ihnen noch mehr wichtige Punkte
      beraten.
      E-mail: diga@bfarm.de <br>
      Telephone: +49 (0)228 99 307-5989 <br>
      Service times: 9:00-12:00 and 13:00-16:00 (Monday to Friday) <br>
      <br>
      <br>

      <h3><b>Healthcare- Plattform-Ökosystem- Assessment</b></h3>
      Für die Ermittlung Ihrer aktuellen Position
      in der Gesundheitswirtschaft bieten wir Ihnen das "Conino-Plattform-Ökosystem-Assessment"
      als Basis für Ihre Plattform-Ökosystem-Strategie .
      <br>
      <br>

      <h3><b>Business-Idee (Leitfragen)</b></h3>
      Zur Unterstützung bei der Formulierung Ihrer
      Business Idee steht Ihnen unser Geschäftsmodell-Fragenkatalog zur Verfügung. <br>
      E-mail: diga@bfarm.de <br>
      Telephone: +49 (0)228 99 307-5989 <br>
      Service times: 9:00-12:00 and 13:00-16:00 (Monday to Friday) <br>
      <br>
      <br>


      <br>Quelle: https://www.bfarm.de/EN/MedicalDevices/DiGA/_node.html <br>
      https://www.coninohealth.com/medtech-unternehmen
    </div>
  </div>

  <div class="modal-footer">
    <a href="https://www.coninohealth.com/medtech-consultants" target="_blank">Geh zu Charité-Forschungsprojektes
      "Conino Health" </a>

    <button type="button" class="btn btn-outline-dark btn-info btn-lg text-white bg-primary"
            (click)="modal.close('Save click')">Ok
    </button>

  </div>
</ng-template>
