<div class="wrapper {{ class }}" *ngIf="this.userService.isValid()">
  <nav id="sidebar">
    <div class="sidebar-header">
      <div class="logo">
        <img src="../../../assets/images/logo.jpg" class="image-logo"/>
      </div>
      <div class="button-collapse">
        <button type="button" id="sidebarCollapse" class="btn" (click)="changeMenu()">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </div>

    <div class="user">
      <div class="user-photo">
        <img src="../../../assets/images/user_photo.png" height="40" width="40"/>
        <a (click)="changeUserInfor()"
           data-toggle="collapse" aria-expanded="true" class="user-dropdown-toggle dropdown-toggle">Hallo
          <b>{{ username }}</b></a>
      </div>
    </div>

    <div class="user-infor">
      <ul class="collapse list-unstyled dropdown-toggle" [ngClass]="this.userinfor ? 'show' : '' "
          data-toggle="collapse" aria-expanded="true">
        <li>
          <a href="#">
            <span class="sidebar-normal">My Profile</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="sidebar-normal">Edit Profile</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="sidebar-normal" (click)="logout()">Logout</span>
          </a>
        </li>
      </ul>
    </div>

    <div>
      <ul class="list-unstyled components menu-down">
        <li>
          <i class="fas fa-home"></i>
          <a routerLink="/home">Home</a>
        </li>

        <li>
          <i class="fas fa-lightbulb"></i>
          <a data-toggle="collapse"
             (click)="changeCoInnovationMenu()"
             aria-expanded="true" class="dropdown-toggle">Co-Innovation</a>
          <ul class="collapse list-unstyled" id="homeSubmenu" [ngClass]="this.coinnovation ? 'show' : '' ">

            <li>
              <a routerLink="/aktuelle-inovation-challenges">Aktuelle Innovation Challenges</a>
            </li>
            <li>
              <a routerLink="/meine-initiierten-challenges">Meine initiierten Challenges</a>
            </li>
            <!--                    <li>-->
            <!--                        <a routerLink="/neeue-innovation-challege-starten">Neue Innovation Challenge starten</a>-->
            <!--                    </li>-->
            <li>
              <a routerLink="/meine-teilnahmen-challeges">Meine Teinahmen an Challenges</a>
            </li>
            <li>
              <a routerLink="/meine-votings">Meine Votings</a>
            </li>

            <li>
              <a routerLink="/pramie-vergeben">Prämien vergeben</a>
            </li>

            <li>
              <a routerLink="/meine-pramie">Meine Prämien</a>
            </li>

            <li>
              <a routerLink="/public-pramie">Public Prämien</a>
            </li>

          </ul>
        </li>

        <li>
          <i class="fas fa-user-friends"></i>
          <a data-toggle="collapse"
             (click)="changeMedTechMenu()"
             aria-expanded="true" class="dropdown-toggle">MedTech-Consultants</a>
          <ul class="collapse list-unstyled" id="homeSubmenu_medTech" [ngClass]="this.medTech ? 'show' : '' ">

            <li *ngIf="showCreator">
              <a routerLink="/creator-med-tech">Erstellung Fragebogen</a>
            </li>

            <li>
              <a routerLink="/med-tech-diga">Neuste Fragebogen</a>
            </li>

            <li>
              <a routerLink="/med-tech-diga/result">Ergebniss</a>
            </li>

<!--            <li>-->
<!--              <a routerLink="/meine-teilnahmen-challeges">UX-Beratung</a>-->
<!--            </li>-->

          </ul>
        </li>

        <li>
          <i class="fas fa-building"></i>
          <a href="#">Geschäftsmodell</a>
        </li>

        <li>
          <i class="fas fa-heart"></i>
          <a href="#">Vertrauen schaffen</a>
        </li>
        <li>
          <i class="far fa-ballot-check"></i>
          <a href="#">MedTech-Know-how</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
