.nav-link:hover {
  cursor: pointer;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  width: 100%;
  height: 100%;
  background: white;

  .active {
    background: #eee;
    color: white;
  }

  .list-unstyled {
    text-align: left;
  }

  .sidebar-header {
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid rgba(239, 171, 237, 0.21)
  }

  .sidebar-header .logo {
    width: 70%;
    float: left;
    text-align: center
  }

  .image-logo{
    width: 150px;
    height: 120px;
  }

  .sidebar-header .button-collapse {
    width: 30%;
    float: left;
    text-align: right;
    padding-right: 20px;
  }

  .menu-down {
    li {
      height: 40px;
      padding-left: 20px;
      display: inline-block;
      width: 100%;

      i {
        width: 15%;
        color: #4a51ff;
      }
    }

    li a {
      color: black;
      margin-left: 3px;

      .active {
        color: white;
      }
    }
  }

  .user {
    height: 50px;
    border-bottom: 1px solid rgba(239, 171, 237, 0.21);
    text-align: center;
    padding: 5px 0;

    .user-photo img {
      margin-right: 30px;
    }
  }

  .user-infor {
    ul li {
      height: 40px;
      width: 100%;
      display: flow-root;
      padding-left: 20px;

      a {
        color: black;
        margin-left: 3px;

        .active {
          color: white;
        }
      }
    }
  }
}

.sidebar-normal {
  float: left;
}

.dropdown-toggle::after {
  display: none;
}

.menu-down {
  margin-top: 20px;
}


// for sidebar
.wrapper.small-nav {
  .user {
    display: none;
  }

  .logo {
    display: none;
  }

  .menu-down {
    display: none;
  }

  .sidebar-header {
    border: none !important;
  }
}

