<p class="page-title">actually-challange-new seite</p>
<div class="n-container">
  <h3>Schaffen neue Challenge</h3>
  <form (ngSubmit)="add(form.value)" [formGroup]="form" #myform="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Thema der Challenge festlegen:</label>
        <select formControlName="category" class="form-control" multiple>
          <option disabled>Wählen Thema</option>
          <option *ngFor="let c of Categories" value="{{c.id}}">{{c.title}}</option>
        </select>

        <div *ngIf="form.get('category').hasError('required') && myform.submitted" class='alert alert-danger'>Thema is
          required
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Group der Challenge festlegen:</label>
        <select formControlName="group" class="form-control" multiple>
          <option disabled>Wählen Group</option>
          <option *ngFor="let g of groups" value="{{g.id}}">{{g.title}}</option>
        </select>
        <div *ngIf="form.get('group').hasError('required') && myform.submitted" class='alert alert-danger'>Group is
          required
        </div>
      </div>


      <div class="form-group col-md-6">
        <label>Kurztitel der Challenge:</label>
        <input type="text" class="" placeholder="title" formControlName="title" class="form-control">
        <div *ngIf="form.get('title').hasError('required') && myform.submitted" class='alert alert-danger'>Title is
          required
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Schreiben Sie Ihre Beschreibung:</label>
        <textarea type="text" formControlName="description"
                  class="form-control"
                  placeholder="Was hat Ihnen gefallen oder missfallen? Wozu haben Sie diese Challenge geschafft? "
                  class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></textarea>
        <div *ngIf="form.get('description').hasError('required') && myform.submitted" class='alert alert-danger'>
          Description is required
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Prämie, Preisgeld festlegen:</label>
        <input type="text"
               class="form-control"
               placeholder="200 eu" formControlName="premium">
        <div *ngIf="form.get('premium').hasError('required') && myform.submitted" class='alert alert-danger'>Premium is
          required
        </div>
      </div>

      <!--    <label>Bewertungskriterien:</label>-->
      <!--    <input type="text" class="" formControlName="bewertung">-->
      <!--    <br>-->
      <div class="form-group col-md-6">
        <label>Initiator</label>
        <input type="text" formControlName="initiator" class="form-control" placeholder="HTW Berlin">
        <div *ngIf="form.get('initiator').hasError('required') && myform.submitted" class='alert alert-danger'>Initiator
          is required
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Endtermin der Challenge bis zu dem Beiträge eingereicht werden können:</label>
        <input type="datetime-local"
               class="form-control"
               formControlName="timeEnd">
        <div *ngIf="form.get('timeEnd').hasError('required') && myform.submitted" class='alert alert-danger'>TimeEnd is
          required
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Einladung per E-mail</label>
        <input type="text"
               class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-12" formControlName="emailSend"
               placeholder="chuvantinh1991@gmail.com,quanlykho.eu@gmail.com">
        <div *ngIf="form.get('emailSend').hasError('required') && myform.submitted" class='alert alert-danger'>Email is
          required
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Jury-Mitglieder auswählen:</label>
        <select formControlName="jury" class="form-control" multiple>
          <option disabled>Wählen users</option>
          <option *ngFor="let c of users" value="{{c.id}}">{{c.username}}</option>
        </select>
        <div *ngIf="form.get('jury').hasError('required') && myform.submitted" class='alert alert-danger'>Jury is
          required
        </div>
      </div>

      <div class="form-group col-md-6">
        <label> Bild / Symbol für Challenge hinzufügen:</label>
        <input type="file" class="form-control-file" formControlName="image" (change)="onSelectFile($event)">
        <div *ngIf="form.get('image').hasError('required') && myform.submitted" class='alert alert-danger'>Image is
          required
        </div>
      </div>
      <!--    <label>Status:</label>-->
      <!--    <select formControlName="status" class="form-control">-->
      <!--      <option disabled>Wählen Status</option>-->
      <!--      <option value="ESTELLT">ESTELLT</option>-->
      <!--      <option value="GESTART">GESTART</option>-->
      <!--      <option value="BEENDET">BEENDET</option>-->
      <!--    </select>-->
      <!--    <br>-->
      <!--    <br>-->

      <button type="submit" class="save btn btn-primary">Save</button>
    </div>
  </form>
</div>
