@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~ngx-sharebuttons/themes/default/default-theme';
//Global style
.footer {
  background: #343a40;
  color: white;
  a {
    color: white;
  }
}

.footer-social {
  height: 50px;
  a {
    color: white;
    margin: 0 10px;
  }
  a:hover {
    text-decoration: none;
  }
}

html{
  height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}



.login{
  z-index: 2;
  display: block;
}

body{
  background: white;

}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cricle-vantinh{
  position: absolute !important;
  z-index: 999 !important;
  top: 30%;
  left: 0;
}
