<circle-progress *ngIf="showSpinner"
                 [percent]="100"
                 [radius]="20"
                 [outerStrokeWidth]="4"
                 [innerStrokeWidth]="1"
                 [outerStrokeColor]="'#78C000'"
                 [innerStrokeColor]="'#C7E596'"
                 [animation]="true"
                 [animationDuration]="1000"
                 [responsive]="true"
                 [clockwise]=true
></circle-progress>
<p class="page-title"> Page : Meine-Prämmie</p>

<ng-container *ngIf="showdata1">
  <div *ngFor="let item of data" ngClass="challenges container-fluid" class="{{ view }}" style="display: inline-block">
    <p class="c-title">Meine Aktuelle Prämie </p>
    <ng-container *ngIf="item.awards">
      <div *ngFor="let c of item.awards">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 float-left challenge-item">
          <div class="c-item-inner">
            <div class="image">
              <img src="{{c.challengeID.image}}" alt="{{ c.challengeID.title}}">
            </div>

            <div class="c-item-infor">
              <div ngClass="founder">
                <span>{{ c.challengeID.initiator }}</span>
              </div>
              <div ngClass="title">
                {{ c.challengeID.title }}
              </div>
              <div ngClass="description">
                {{ challengeService.description_slice(0, 100, c.challengeID.description) }}
              </div>
              <div ngClass="group" *ngFor="let gr of c.challengeIDgroup">
                <span [style.background]="getClass(gr.id, data)">{{ gr.title }}</span>
              </div>
              <div ngClass="premium">
                <i class="fa fa-trophy" aria-hidden="true"></i>
                <span>  {{ c.challengeID.premium }}</span>
              </div>

              <div ngClass="timeEnd">
                <span> <i class="fas fa-stopwatch"></i>  {{ calculateDiff(c.challengeID.timeEnd) }}</span>
              </div>
            </div>

            <div class="founder">
              die Prämie wurde von <b>{{ c.createdBy.username }}</b> vergeben. <br>
              <b>{{ c.winner.username }}</b> gewinnt mit Medaillen <b>{{ getStatus(c.status) }}</b>
              <ng-container *ngIf="c.status == 'GOLD'">
                <i class="fas fa-medal" style="background-color: yellow"></i>
              </ng-container>

              <ng-container *ngIf="c.status == 'SILBER'">
                <i class="fas fa-medal" style="background-color: silver"></i>
              </ng-container>

              <ng-container *ngIf="c.status == 'BRONZ'">
                <i class="fas fa-medal" style="background-color: sandybrown"></i>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

</ng-container>
